TASK 1: Create pandas dataframe as 'df' with numpy random values (4 features and 4 observations)

In [ ]:
import numpy as np
import pandas as pd

l=pd.Series(np.random.rand(4))
h=pd.Series(np.random.rand(4))
l1=pd.Series(np.random.rand(4))
h1=pd.Series(np.random.rand(4))
df=pd.DataFrame([l,h,l1,h1])
print(df)

          0         1         2         3
0  0.877409  0.738469  0.941552  0.844296
1  0.704885  0.862599  0.432233  0.159424
2  0.682559  0.574462  0.173990  0.152237
3  0.667284  0.626491  0.489563  0.683743

TASK 2: Rename the task-1 'df' dataframe column names to 'Random Value 1','Random Value 2','Random Value 3'&'Random Value 4'

In [ ]:
l=pd.Series(np.random.rand(4))
h=pd.Series(np.random.rand(4))
l1=pd.Series(np.random.rand(4))
h1=pd.Series(np.random.rand(4))
df=pd.DataFrame([l,h,l1,h1])
df


df.columns=['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.371169        0.745551        0.154913        0.982841
1        0.216660        0.749786        0.045038        0.334042
2        0.247979        0.107303        0.054111        0.571011
3        0.839292        0.254371        0.679518        0.626200

TASK 3: Find the descriptive statistics of the 'df' dataframe

In [ ]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.418775        0.464253        0.233395        0.628524
std          0.288168        0.332727        0.301555        0.268063
min          0.216660        0.107303        0.045038        0.334042
25%          0.240149        0.217604        0.051843        0.511769
50%          0.309574        0.499961        0.104512        0.598606
75%          0.488200        0.746610        0.286064        0.715361
max          0.839292        0.749786        0.679518        0.982841

In [ ]:
df.describe(include="all")

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.418775        0.464253        0.233395        0.628524
std          0.288168        0.332727        0.301555        0.268063
min          0.216660        0.107303        0.045038        0.334042
25%          0.240149        0.217604        0.051843        0.511769
50%          0.309574        0.499961        0.104512        0.598606
75%          0.488200        0.746610        0.286064        0.715361
max          0.839292        0.749786        0.679518        0.982841

TASK 4: Check for the null values in 'df' and find the datatype of columns

In [ ]:
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df['Random Value 1'].dtype
df['Random Value 2'].dtype
df['Random Value 3'].dtype
df['Random Value 4'].dtype

dtype('float64')

TASK 5: Display the 'Random Value 2'&'Random Value 3' columns with location menthod and index location method

In [ ]:
df.loc[0:3,'Random Value 2':'Random Value 3']

   Random Value 2  Random Value 3
0        0.745551        0.154913
1        0.749786        0.045038
2        0.107303        0.054111
3        0.254371        0.679518

In [ ]:
df.iloc[0:,1:3]

   Random Value 2  Random Value 3
0        0.745551        0.154913
1        0.749786        0.045038
2        0.107303        0.054111
3        0.254371        0.679518